web1:
  image: dhub.ertelecom.ru/shirokih/php:5.6-fpm
  ports:
   - "9000"
  volumes:
   - ${PROJECT_DIR}:${PROJECT_DIR}
   - ${SHARED_DIR}:/var/shared
  links:
   - memcached

web2:
  image: dhub.ertelecom.ru/shirokih/php:5.6-fpm
  ports:
   - "9000"
  volumes:
   - ${PROJECT_DIR}:${PROJECT_DIR}
   - ${SHARED_DIR}:/var/shared
  links:
   - memcached

memcached:
  image: memcached:1.4