web1:
  image: ${FPM_IMAGE}
  ports:
   - "9000"
  volumes:
   - ${PROJECT_DIR}:${PROJECT_DIR}
   - ${SHARED_DIR}:/var/shared
  working_dir: ${PROJECT_DIR}
  links:   
   - memcached
   - mongo

memcached:
  image: ${MEMCACHE_IMAGE}

mongo:
  image: ${MONGO_IMAGE}